<!doctype html>
html(lang="en")
  include ../includes/head.pug
// WRAPPER
#wrapper
  .vertical-align-wrap
    .vertical-align-middle
      .auth-box
        .left.text-center 
          .content
            .header
              .logo.text-center
                img(src='assets/img/mail_logo.png')
              p.lead Login Your email Account
            form.form-auth-small(action='/index')
              .form-group
                label.control-label.sr-only(for='signin-email') Email
                input#signin-email.form-control(type='email' value='' placeholder='Email')
              .form-group
                label.control-label.sr-only(for='signin-password') Password
                input#signin-password.form-control(type='password' value='' placeholder='Password')
              .form-group.clearfix
              button.btn.btn-primary.btn-lg.btn-block(type='submit') LOGIN

        .clearfix
// END WRAPPER
